---
import { Show } from "solid-js"

const { heading, subtitle } = Astro.props
---

<div class="mb-8">
  <h1 class="text-4xl font-bold mb-0">{heading}</h1>
  <Show when={subtitle}>
    <h2 class="text-2xl font-normal italic opacity-60 dark:opacity-50">{subtitle}</h2>
  </Show>
</div>
