---
import "../styles/global.css";
import NavButton from "../components/NavButton.astro";

const { title } = Astro.props;

const navButtons = [
  { title: "home", route: "/" },
  { title: "blog", route: "/blog" },
  { title: "github", route: "https://github.com/bigspeedfpv" },
];

const isHome = Astro.url.pathname === "/";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title ? `${title} - Andrew Brower` : "Andrew Brower"}</title>
    <link rel="preload" href="/fonts/LibreBaskerville-Regular.woff2" as="font" type="font/woff2" crossorigin />
    <link rel="preload" href="/fonts/LibreBaskerville-Bold.woff2" as="font" type="font/woff2" crossorigin />
    <link rel="preload" href="/fonts/LibreBaskerville-Italic.woff2" as="font" type="font/woff2" crossorigin />
	</head>
	<body class="bg-sepia dark:bg-zinc-900 dark:text-zinc-100 flex justify-center font-display">
    <div class="p-12 w-full max-w-[750px]">
      <header class="my-8 h-8 flex flex-row justify-between items-center flex-wrap">
        <!-- the home page has its own header! -->
        <h1 class="font-bold text-2xl mr-4">{isHome ? "" : "Andrew Brower"}</h1>
        <div class="flex gap-4 flex-wrap">
          {navButtons.map(({title, route}) => <NavButton href={route}, text={title} />)}
        </div>
      </header>
      <main class="relative">
    		<slot />
      </main>
    </div>
	</body>
</html>
